<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="../../static/users/styles/images/favicon.ico" type="image/x-icon" />
  <!-- Icon - IconMonster -->
  <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
  <!-- Mumble UI -->
  <link rel="stylesheet" href="../../static/users/uikit/styles/uikit.css" />
  <!-- Dev Search UI -->
  <link rel="stylesheet" href="../../static/users/styles/app.css" />

  <title>Bitiruvchi dasturchlarni qidirib top</title>
</head>

<body>
  <div class="auth">
    <div class="card">
      <div class="auth__header text-center">
        <a href="/users/static">
          <img src="../../static/users/styles/images/icon.svg" alt="icon" />
        </a>
        <h3>Parolni unutdingizmi?</h3>
        <p>Parolni qayta tiklash uchun Elektron pochtangizni kiriting</p>
      </div>

      <form action="#" class="form auth__form">
        <!-- Input:Email -->
        <div class="form__field">
          <label for="formInput#email">Elektron manzil: </label>
          <input class="input input--email" id="formInput#email" type="email" name="email"
            placeholder="foydalanuvchi@gmail.com" />
        </div>

        <div class="auth__actions">
          <input class="btn btn--sub btn--lg" type="submit" value="Qo'llanmani yuborish" />
          <a href="{% url 'login' %}">Kirish</a>
        </div>
      </form>
      <div class="auth__alternative">
        <p>Shahsiy sahifangiz yo'qmi?</p>
        <a href="{% url 'signup' %}">Ro'yxtdan o'tish</a>
      </div>
    </div>
  </div>
</body>

</html>